html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  overflow: auto;
  position: relative;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 24px;
  background-color: rgb(248, 90, 22);
  display: block;
  padding-right: 35px;
  z-index: 99;
}
header a {
  display: inline;
  padding-left: 25px;
  color: black;
}

header a:hover {
  cursor: pointer;
  color: #fccdb8;
}

.topnav {
  position: fixed;
  top: 24px;
  width: 100%;
  overflow: hidden;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  background-color: #ffffff;
  z-index: 99;
}

.topnav a {
  color: rgb(26, 26, 26);
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  transition: 0.3s;
}

.topnav a:hover {
  color: rgb(248, 90, 22);
}

.topnav a.active {
  padding: 14px 16px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  font: 20px;
}
.topnav a.active:hover {
  color: inherit;
}

.topnav .anchor {
  display: inline-block;
  float: right;
}

.topnav .icon {
  display: none;
}

.intro {
  margin-top: 75px;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  background-image: url("intro0.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.intro #intro-quotes {
  position: absolute;
  top: 30%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: #fdfbfb;
  text-align: center;
}

#intro-quotes p {
  font-size: 5vh;
  letter-spacing: 5px;
  font-family: "Archivo Black", "Work Sans", sans-serif;
}

#board {
  overflow: hidden;
  width: 100%;
  height: auto;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.main {
  margin-top: 100px;
}

.post {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 10px 16px;
  font-family: "Work Sans", Helvetica, sans-serif;
  margin-bottom: 15px;
  min-height: 325px;
}

.post:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.aboutus {
  margin-top: 50px;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
}

.blog {
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  width: 100%;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.register {
  margin-top: 75px;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  background-image: url("registerbtn.jpg");
  height: 250px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.button {
  border-radius: 25px;
  background-color: #f4511e;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  padding: 10px 20px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 125px 5px 5px 5px;
  font-family: "Montserrat", sans-serif;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}
.site-footer a:hover {
  color: #c1c7d3;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #c4cad6;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}

@media screen and (max-width: 635px) {
  .topnav .anchor {
    float: none;
  }
  .topnav a {
    display: none;
  }
  .topnav .active {
    display: inline-block;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .intro {
    background-image: url("intro1.jpg");
  }
}

@media screen and (max-width: 635px) {
  .topnav.responsive {
    position: relative;
    position: fixed;
    top: 24px;
    width: 100%;
    overflow: hidden;
    z-index: 99;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav .left {
    float: none;
  }
  .topnav.responsive a {
    display: block;
    text-align: left;
  }
  .topnav .anchor {
    float: none;
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 25px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(248, 90, 22);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(248, 90, 22, 0.7);
}

* {
  box-sizing: border-box;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  z-index: 9;
  position: fixed;
  top: 100px;
  right: 0;
  left: 0;

  margin: auto;
  max-width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* Add styles to the form container */
.form-container {
  padding: 15px;
  background-color: #cddcdc;
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  overflow-y: auto;
}

/* Full-width input fields */
.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  padding: 8px;
  margin: 0px 0 15px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: rgb(248, 90, 22);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: #4caf50;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 0.9;
}
