*{
	
}

body{
  background-image: url('spidey.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  width:100%; 
  background-position: center center;
  background-color: #464646;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

p{
  margin-top: 8px;
  margin-bottom: 8px; 
}



.navbar {
  overflow: hidden;
  background-color:rgb(0, 0, 26,0.8);
  font-family: 'Bangers',sans-serif, cursive;
  margin-bottom: px;
}

.navbar a {
  float: left;
  display: block;
  color:#b30000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 35px;
  font-weight: bold;
}



.navbar a:hover {
  background-color:#b30000;
  color:#00001a ;
}



.navbar a.active{
  float: right;
}

.middle-container{
  width: 65%;
  margin:0 auto;

}

.middle-container p{
  margin-top:30px; 
  margin-bottom:30px;
}


.middle-container #show-theme{
  font-weight: bolder;
  color:orange;
  text-align: center;
  font-size: 35px;
  font-family: 'Bangers',sans-serif, cursive;

}
.show-time{
  border:5px solid #b30000;
  width:45%;
  margin: auto;
  color:#b30000;
  border-radius: 8px;
  margin-bottom: 15px;
  background-color: rgb(0, 0, 26,0.6);
  font-family: 'Anton', sans-serif;
  font-size: 24px;
  font-weight: bolder;
  display: ;
}

.show-time p{
  margin-left: 10px;
  margin-right: 10px;
}

.show-time strong span{
  padding-left: 15px;

}






.container{
  width:45%;
  margin: auto;
  border-radius: 8px;
  border:5px solid #b30000;
  background-color:rgb(0, 0, 26,0.6);
  display:block;


}
.container div {
  margin: 0;
  padding: 0px;
}

.container button{
 padding:5px;
 padding-bottom: 10px;
 margin-left: 10px;
 text-align: center;
 font-family:'Anton', sans-serif;
 font-weight: bolder;
 font-size: 40px;
 background-color:#0d0d0d;
 color:#b30000;
 border:0px solid #b30000;
 width:80px ;
 height:75px;
 visibility: visible;
 position: static;

}


button:hover{
  cursor:pointer; 
} 


.top5{
  width:50%;
  margin: 40px auto;
  font-family: 'Anton', sans-serif;
  color: orange;
  border-radius: 8px;
  border:0px solid #b30000 ; 
  text-align: center;
  display: none;
  font-size: 35px;
} 


.top5 ul{
  margin:0px;
  padding: 0px;
  list-style-type: none;
}


.top5 button{
  text-align: center;
  padding: 10px 10px;
  text-align: center;
  background-color:rgb(0, 0, 26);
  color:#b30000;
  border:none;
 
  font-family: 'Bangers',sans-serif, cursive;
  font-size: 35px;
  font-weight: bolder;

}

.top5 button:hover{
  color:rgb(0, 0, 26);
  background-color: #b30000; 
}




















@media screen and (max-width:767px ){
	body{
		background-image:; 
		background-color:;
	}
  .container{
    width: 80%;
  }
  .show-time{
    width: 80%;
  }
  .top5{
    width: 100%;
    font-size: 20px;
  }
  
	


}